<div class="contact"  id="contact">
    <div class="container">
        <h3 class="tittle">Contact</h3>
        <div class="contact-grids">
            <form action="#" method="post">
                <div class="col-md-6 grid-contact">
                    <div class="your-top">
                        <i class="glyphicon glyphicon-user"> </i>
                        <input type="text" name="Name" placeholder="Name"  required >
                        <div class="clearfix"> </div>
                    </div>
                    <div class="your-top">
                        <i class="glyphicon glyphicon-envelope"> </i>
                        <input type="text" name="E-mail" placeholder="E-mail"  required>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="your-top">
                        <i class="glyphicon glyphicon-link"> </i>
                        <input type="text" name="Website" placeholder="Website"  required>
                        <div class="clearfix"> </div>
                    </div>

                </div>
                <div class="col-md-6 grid-contact-in">
                    <textarea name="Message"  placeholder=" Message"  required></textarea>
                    <input type="submit" value="Send">
                </div>
                <div class="clearfix"> </div>
            </form>
        </div>
        <div class="google-map">
            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d58888647.94218372!2d-103.76180439324321!3d25.728324341247273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1stravel+agents+near+USA!5e0!3m2!1sen!2sin!4v1462507725713"  frameborder="0" style="border:0" allowfullscreen></iframe>-->
        </div>
    </div>
</div>
